<template>
  <div>
    <!-- <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">

                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu"></div>
    </nav>-->
    <div class="container search-container">
      <div class="search-box">
        <input
          type="tags"
          v-model="enteredPackage"
          placeholder="Search..."
          v-on:keyup.enter="handleSubmit"
        >
        <div class="includes">
          <div class="inclusion">
            <input id="devs" class="checkbox" type="checkbox" v-model="toggleDevs">
            <label for="devs" class="checkmark">devs</label>
          </div>
          <div class="inclusion">
            <input id="types" class="checkbox" type="checkbox" v-model="toggleTypes">
            <label for="types" class="checkmark">types</label>
          </div>
        </div>
        <div id="search-icon-wrapper" v-on:click="handleSubmit">
          <font-awesome-icon id="search-icon" icon="search"/>
        </div>
      </div>
      <div class="progress-info">
        <div class="progress-text">{{progressText}}</div>
        <div class="progress-spinner lds-ellipsis" v-if="this.processing">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <button
        class="download-button button is-dark"
        type="button"
        v-if="zipReady"
        v-on:click="handleDownload"
      >download</button>
    </div>
    <PackageList v-if="fetching" :packageList="packagesList" v-on:done-saving="handleZipping"/>
  </div>
</template>

<script>
import { getAllDependecies, downloadFiles, createZip } from "../utils/fetcher";
import saveAs from "file-saver";
import PackageList from "./PackageList";
import moduleParser from "../utils/moduleParser";
import _ from "lodash";
// import bulmaCheckbox from "bulma-extensions/bulma-checkbox/dist/bulma-calendar.min.js";

export default {
  name: "frontPage",
  components: {
    PackageList
  },
  data: function() {
    return {
      enteredPackage: "",
      packagesList: [],
      files: [],
      zipReady: false,
      download: "",
      progressText: "",
      processing: false,
      fetching: false,
      toggleDevs: true,
      toggleTypes: true
    };
  },
  methods: {
    handleSubmit: async function() {
      this.cleanup();
      this.processing = true;
      this.progressText = "Resolving dependency tree";
      try {
        let modules = this.enteredPackage.split(" ");
        if (this.toggleTypes) {
          let typesModules = modules.map(moudleName => "@types/" + moudleName);
          modules = modules.concat(typesModules);
        }

        for (const moduleName of modules) {
          let dependecies = await getAllDependecies(
            moduleName,
            this.toggleDevs
          );
          let merged = this.packagesList.concat(dependecies);
          this.packagesList = _.uniqBy(merged, entry => entry.name);
        }

        if(this.packagesList.length === 0){
          this.cleanup();
          this.progressText = "Dependecies resolving failed"
        } else {
          this.progressText = "Fetching dependencies";
          this.heandleFetching();
        }

      } catch (err) {
        this.progressText = err;
        this.processing = false;
      }
    },
    heandleFetching: function() {
      this.fetching = true;
    },
    handleZipping: async function() {
      this.progressText = "Generating zip file";
      this.download = await createZip(this.packagesList);
      this.progressText = "Download file ready!";
      this.processing = false;
      this.zipReady = true;
    },
    handleDownload: async function() {
      saveAs(this.download, this.enteredPackage.replace(' ', '_') + ".zip");
    },
    cleanup: function() {
      this.packagesList = [];
      this.zipReady = false;
      this.download = "";
      this.processing = false;
      this.fetching = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
/* GOOD COLOR */
html {
  background-color: #f1f3f5;
}

.search-container {
  height: 240px;
}

.download-button {
  font-family: monospace;
  letter-spacing: 0.1em;
}

.includes {
  font-family: monospace;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  margin: auto;
  color: #cacaca;
  align-items: normal;
}

.inclusion {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 4px;
}

.progress-info {
  display: flex;
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding: 0 25px;
  font-family: monospace;
  font-size: 12px;
  color: #888;
}

.progress-spinner {
  margin-left: 10px;
}
.column {
  background-color: bisque;
}
.search-box {
  max-width: 600px;
  margin: 10px auto;
  background: #fff;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3);
  display: flex;
  height: 64px;
  align-items: center;
  cursor: text;
}

.search-box > input {
  font-family: monospace;
  font-size: 17px;
  padding: 16px;
  height: 64px;
  background: 0 0;
  border: 0;
  flex: 1 1 auto;
  font-weight: bold;
  color: #616161;
  min-width: 48px;
}

.search-box > input::placeholder {
  color: #dbdbdb;
  font-weight: normal;
}

.nav-bar {
  background-color: #f1f3f5;
}

*:focus {
  outline: none !important;
}

#search-icon-wrapper {
  padding: 22px 0;
  height: 100%;
  cursor: pointer;
}

#search-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/* SPINNER */
/***********/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 60px;
}
.lds-ellipsis div {
  position: absolute;
  top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #afafaf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* CHECKBOX */
/************/
input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before {
  content: "\a0";
  display: inline-block;
  margin: 0.2em 0.5em;
  width: 0.8em;
  height: 0.8em;
  line-height: 0.75em;
  transition: all 0.5s;
  border: 1px solid #dbdbdb;
}

input[type="checkbox"]:checked + label::before {
  content: "\a0";
  background: #dbdbdb;
  border: 1px solid white;
  box-shadow: inset 0 0 0 1px white, 0 0 0 1px #dbdbdb;
}
</style>
