<template>
  <div class="entry-container">
    <div class="circle"></div>
    <code>{{entry.name}}</code>
  </div>
</template>

<script>
import { default as localforage } from "localforage";
import ProgressBar from "vue-simple-progress";

// entry has name and url ONLY
export default {
  name: "packageEntry",
  props: ["entry"],
  components: {
    ProgressBar
  },
  data: function() {
    return {
      loaded: 0,
      total: Number.MAX_SAFE_INTEGER
    };
  }
};
</script>

<style scoped>
.entry-container {
  display: flex;
  padding-left: 100px;
}

.entry {
  border-bottom-color: blue;
  border-bottom: 10px;
  min-height: 42px;
}

.outter-shell {
  min-height: 50px;
  max-height: 50px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.circle {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin: 10px;
  background-color: #23d160;
}

code {
  color: #345;
  font-family: cousine, sfmono-regular, Consolas, Menlo, liberation mono,
    ubuntu mono, Courier, monospace;
  letter-spacing: -0.03em;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: inherit;
}
</style>