<template>
    <div>
        <div class="progress-info">
            <div class="progress-text"></div>
        </div>
        <div class="container entry-list">
            <hr>
            <div class="columns is-multiline">
                <div class="is-divider" data-content="OR"></div>
                <PackageEntry
                    class="column is-half"
                    v-for="packageEntry in packageList"
                    v-bind:entry="packageEntry"
                    :key="packageEntry.name"
                />
            </div>
        </div>
    </div>
</template>

<script>
import localforage from "localforage";
import { bulmaCalendar } from "bulma-extensions";
import PackageEntry from "./PackageEntry";
import Promise from "bluebird";

export default {
  name: "packageList",
  props: ["packageList"],
  components: {
    PackageEntry
  },
  data: function() {
      return {
          progressText: ""
      }
  },
  mounted: function() {
    this.downloadFiles();
  },
  methods: {
    downloadFiles: function() {
      Promise.map(this.packageList, this.download, { concurrency: 30 }).then(
        () => this.$emit("done-saving")
      );
    },
    download: function(entry) {
      return fetch(entry.url)
        .then(response => {
          if (!response.ok)
            throw Error(response.status + " " + response.statusText);
          return response;
        })
        .then(result => result.blob())
        .then(blob => localforage.setItem(entry.name, blob))
        .catch(err => console.log(err));
    }
  }
};
</script>

<style>
.entry-list {
  max-width: 850px;
  display: flex;
  align-items: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

</style>
